.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #da8a8a;
    color: rgb(2, 66, 10);
}

table {
  color: rgb(1, 3, 1);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  font-weight: 300;
}

.header-row {
    background: #203549;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

.even:not(.warning) {
    background: lightslategray; 
}

.odd:not(.warning) {
    background: lightgreen; 
}